.single-chat {
  background-color: #222e35;
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 0;
}

@media (max-width: 900px) {
  .single-chat {
    width: 100%;
    flex: 1;
    height: auto;
    min-height: 0;
  }
}
